language: ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - ruby-head
notifications:
  email:
    - agresso@gmail.com
branches:
  only:
    - master
matrix:
  allow_failures:
    - rvm: ruby-head
